<h2>Edit Email Data</h2>
<div class="edit-email">
  <div class="form-group">
    <div {{bind-attr class="errors.jsonString:has-error"}}>
      <label class="control-label">Example Data</label>
      {{textarea
        value=jsonString
        class="form-control json-input"
      }}
    </div>
  </div>
  {{#if hasError}}
    <div class="alert alert-danger" role="alert">{{errorMessages.jsonError}}</div>
  {{/if}}

  <button class="btn btn-default" {{action 'save'}}>Save</button>
</div>

